apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agent
  template:
    metadata:
      labels:
        app: agent
    spec:
      containers:
        - name: agent
          image: bahmansalehinic4/agent
          imagePullPolicy: Always
          resources:
            requests:
              memory: "512Mi"
              cpu: "100m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          env:  
            - name: KAFKA_BROKER_URL
              value: 'redpanda-srv:9092'
            - name: KAFKA_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            
            - name: MONGO_URI
              value: "mongodb://agent-mongo-srv:27017/agent"
            - name: JWT_DEV
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_DEV
---
apiVersion: v1
kind: Service
metadata:
  name: agent-srv
spec:
  selector:
    app: agent
  ports:
    - name: agent
      protocol: TCP
      port: 3000
      targetPort: 3000
