apiVersion: apps/v1
kind: Deployment
metadata:
  name: ar-conversations-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ar-conversations
  template:
    metadata:
      labels:
        app: ar-conversations
    spec:
      containers:
        - name: ar-conversations
          image: bahmansalehinic4/ar-conversations:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: "512Mi"
              cpu: "100m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          env:
            - name: KAFKA_BROKER_URL
              value: 'redpanda-external-srv:19092'
            - name: KAFKA_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MONGO_URI
              value: "mongodb://ar-conversations-mongo-srv:27017/ar-conversations"
            - name: JWT_DEV
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_DEV
          ports:
            - containerPort: 3000
          startupProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 40
          readinessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          livenessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: ar-conversations-srv
spec:
  selector:
    app: ar-conversations
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000
