# Service + Endpoints to expose Redpanda running outside k8s (Docker Compose)
# This allows k8s pods to access Redpanda on the host machine
# 
# For Linux: Use host IP (192.168.178.179) or host.minikube.internal
# For Mac/Windows: Can use host.docker.internal
#
# To get your host IP: hostname -I | awk '{print $1}'
# Or use: minikube ssh -- hostname -I | awk '{print $1}'

apiVersion: v1
kind: Endpoints
metadata:
  name: redpanda-srv
subsets:
  - addresses:
      - ip: 192.168.58.1  # Minikube host gateway IP (host.minikube.internal) - update this if your IP changes
    ports:
      - name: kafka
        port: 9092
        protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: redpanda-srv
spec:
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
      protocol: TCP
  # No selector - endpoints are manually managed above


